

<script type="text/javascript">
  new WOW().init();
</script>
<!--RENDER INFORMACIONES  -->
    <% @information.each do |informacion|%>

        <div class="card information animated wow bounceInLeft delay-1s slower ">
          <div class="card-body">
            <h3 class = "card-header animated jello"><%= informacion.title %></h3>
            <p class = "card-text animated pulse"><%= informacion.description%></p>
          </div>
        </div>

    <% end %>
