
<!--RENDER INFORMACIONES  -->
    <% @information.each do |informacion|%>
    
        <div class="card information">
          <div class="card-body">
            <h3 class = "card-header"><%= informacion.title %></h3>
            <p class = "card-text"><%= informacion.description%></p>
          </div>
        </div>

    <% end %>
