
<div class="row">
  <div class="col-md-6">

    <%= image_tag "testehrlich1.png", class:'img-fluid'%>
  </div>
  <div class="col-md-6">
    <%= image_tag "testehrlich2.png" , class:'img-fluid'%>

  </div>
</div>
