
<div class="row">
  <div class="col-md-6 animated jello">

    <%= image_tag "testmarquis1.png", class:'img-fluid'%>
  </div>
  <div class="col-md-6 animated jello">
    <%= image_tag "testmarquis2.png" , class:'img-fluid'%>

  </div>
</div>
