

<div class="jumbotron">
<div class="row">
  <div class="col-md-2  animated rotateInDownLeft">
    <i class="fas fa-male fa-10x"></i>

  </div>
  <div class="col-md-10  animated zoomIn">
    <h2>Email: <%= current_user.email %></h2>

  </div>
</div>


</div>
