

<div class="row">
  <div class="col-md-5 total">

    <div class="jumbotron animated swing">
      <h2>Total:<h2>
        <h3> $<%= @products.map{|product| product.price}.sum%></h3>
      </div>
      <div class="jumbotron animated tada">
        <h2>Productos:<h2>
          <h3><%= @products.count%></h3>
        </div>
      </div>

  <div class="col-md-7">
    <table class="table table-striped ">
      <thead class="black success-color-dark">
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Precio</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |producto| %>
        <tr class="animated rubberBand">
            <th scope="row"><%= producto.name%></th>
            <th scope="row">$<%= producto.price%></th>
        </tr>
        <% end %>

      </tbody>
    </table>

  </div>

</div>
