

<table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |producto| %>
    <tr>
        <th><%= producto.name%></th>
        <th><%= producto.price%></th>
    </tr>
    <% end %>
    <tr>
      <th>Total:</th>
      <th><%= @products.map{|product| product.price}.sum%></th>
    </tr>
  </tbody>
</table>
