
<div class="row">
  <div class="col-md-8 offset-md-2 sobre-nosotros">



    <h2>Sobre nosotros</h2>

    <p>
    Somos una iniciativa dedicada a la prevención de <br> daños en el uso de drogas recreativas. <br> <br>

    Nuestra misión es educar al consumidor para que tome las decisiones correctas, así como
     estar alerta a la llegada de cualquier droga sintética fuera de lo común. <br> <br>

    Nosotros no defendemos el uso de sustancias recreativas, y creemos que la mejor manera
    de evitar un daño es no consumiéndolas. Sin embargo, defendemos que cada persona adulta
     pueda decidir por su propia cuenta. <br> <br>

    El consumo de drogas sintéticas en Chile aumenta día a día, y nadie sabe que se está consumiendo
     realmente, los estudios sobre drogas en Chile son inconclusos al hablar de drogas sintéticas
      como el MDMA o el 2CB, y sólo contribuyen a la desinformación que existe actualmente <br>

    Creemos que la única forma de frenar la llegada de drogas duras como la metanfetamina, o las
     "sales de baño", es tomando medidas preventivas desde el lado del consumidor, protegiendo su
     integridad y su anonimato en todo momento. <br>

    </p>

  </div>

</div>
