

  <div class="row">
    <div class="col-md-5 offset-md-1">
      <h1>¡Bienvenid@!</h1>

      <p><strong><em>Somos una iniciativa dedicada a la reducción de daños en el uso de sustancias recreativas.<br>
      <br>Creemos que proteger al consumidor es crucial, esto lo hacemos mediante la difusión de
      información y la venta de reagentes para el análisis de sustancias.</em></strong></p>
    </div>
    <div class="col-md-5">
        <%= image_tag 'logo.png', id: 'logo-principal'%>
    </div>
  </div>
