<div class="links_to_infomation">
  <%= link_to 'Marquis', information_marquis_path, class:'btn btn-dark' %>
  <%= link_to 'Ehrlich', information_ehrlich_path, class:'btn btn-dark' %>
  <%= link_to 'Liebermann', information_liebermann_path, class:'btn btn-dark' %>
</div>



<div class="container information-div">

  <%= render  'information/information' %>
</div>
