<div class="links_to_infomation">
  <%= link_to 'Marquis', pages_sustancias_path, class:'btn btn-dark' %>
  <%= link_to 'Ehrlich', pages_sustancias_path, class:'btn btn-dark' %>
  <%= link_to 'Liebermann', pages_sustancias_path, class:'btn btn-dark' %>
</div>


<%= render  @informations %>
