
<div id='calendar'></div>

  <script type="text/javascript">
    $(function() {

      // page is now ready, initialize the calendar...

      $('#calendar').fullCalendar({
        events:  <%= raw @testeds.to_json %>  
      })

    });
  </script>
