<h1>Productos</h1>

<div class="jumbotron">
  <form class="" action="<%= pages_tienda_path%>" method="get">
  <label for="">Buscar</label>
  <input type="text" name="buscar" value="">
  </form>
</div>

<div class="row" id="contenedor-productos">
  <%= render @products%>
</div>


<script type="text/javascript">
  $('[name=buscar]').keyup(function(event){
    $.ajax({
      url: '<%= pages_tienda_path%>',
      type: 'GET',
      dataType: 'script',
      data: {buscar: $(this).val()}
    })
    .done(function() {

    })
    .fail(function() {
      console.log("error");
    })
    .always(function() {
      console.log("complete");
    });

  })
</script>
