// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primari-color: #68979B ;

body{
  background-color :$primari-color;
}


#div-principal{
  width: 100%;
  margin: 1.5em;
  margin: 0px auto;
  margin-top: 1.5em;
}

// #sign{
//   float: right;
//   position: absolute;
//   padding: 0px;
//   font-size: 1em;
//   right: 0px;
//   margin-left: 1.4em;
// }

.navbar{
  margin-bottom: 3em;
}

#logo-principal{
  width: 12em;
}
.card{
  text-align: center;
}
.page-footer{

  #logo-footer{
    width: 15em;
    display: block;
    position: left;
    margin: 0px auto;
  }

  p{
    font-size:1.2em;
  }
  .columna{
    text-align: center;
  }

}

.card-img-top{
  width:10em;
}

.card{
  height: 25em;
  margin:1.5em;
}

u{
  width:100%;
}



.productos{
  height: 20em;
  text-align: center;
  margin: 0px auto;
  padding: 0px auto;
  overflow: visible;
}
.card-img-top{

}

.card-body{
  margin-top: -2em;
}

@media(max-width:767px){
  #div-principal{
    width: 22em;
  }

  .card{
    .card-body{
      display: block;
    }
    img{
      display: inline-block;
    }

  }
}




@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}
