// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primari-color: #e8eaf6 ;

body{
  background-color :$primari-color;
  margin: 0px auto;
  padding: 0px auto;
  font-size: 1em;
}

body a{
  // text-decoration: none !important;


}


#div-principal{
  margin: 0px auto;
  margin-top: 100px;
  width: 80% ;
}

.navbar{
  margin-bottom: 3em;
  font-size: .8em;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 3;
  background-color:#283593 !important;
  #sign{
    background-color: white !important;
    border-radius: 1.6em;
    color: #212121;
    margin-left: 1.1em;
  }
  #sign:hover {
  background-color: #bbdefb !important;
  font-size: 1.1em;
  }
}

#logo-principal{
  width: 12em;
}
.card{
  text-align: center;
}
.page-footer{

  background-color: #1C2331;

  #logo-footer{
    width: 15em;
    display: block;
    position: left;
    margin: 0px auto;
  }

  .btn-dark{
    font-style: white !important;
  }

  p{
    font-size:1.2em;
  }
  .columna{
    text-align: center;
  }

}

.card-img-top{
  width:10em;
}

.card{
  height: 25em;
  margin:1.5em;
}

u{
  width:100%;
}

.sobre-nosotros{
  background-color: #212121;
  text-align: center;
  border-radius: 10px;
  h2{
    color: white;
  }
  p{
    color:white;
  }
}

.div-producto{
  img{

  }
  a{
    margin-bottom: 0px;
  }
}

.productos{
  height: 20em;
  text-align: center;
  margin: 0px auto;
  padding: 0px auto;
  overflow: visible;
}

.card-body{
  margin-top: -2em;
}

.links_to_infomation{
  position: fixed;
  margin: 0px auto;
  left: 0px;
  right: 0px;
  text-align: center;
  top:80px;
  a{
    border-radius: 1.2em;
  }
}

.links_to_infomation a:hover {
font-size: 1.1em;
}

.information-div{
  margin-top: 10em;
}

.information{
  background-image: linear-gradient(#f5f7fa, #c3cfe2);
  padding-top:2em;
  width: 70%;
  margin: 3em auto 2em  auto ;

  height:fit-content;
  h3{
    font-size: 3em;
    background-color: #263238 ;
    color:white;
  }
  p{
    font-size: 2em !important;
    margin-top: .3em;
    color:black !important;
  }
}

#calendar{
}



@media(max-width:767px){

  body{
  }

  .card{
    .card-body{
      display: block;
    }
    img{
      display: inline-block;
    }

  }

  .information{
    margin-left: 0px;
    width: 100%;
    h3{
      font-size: 1.5em;
    }
    p{
      font-size: 1.2em !important;
    }
  }
}


@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}
