
<footer class="page-footer text-center font-small mt-4 wow fadeIn">


    <div class="footer-copyright py-3">
      <div class="row">
        <div class="col-md-3 columna">
          <%= image_tag 'logo.png', id: 'logo-footer'%>
        </div>
        <div class="col-md-6 columna">
          <p>Reduciendo Daño NO promueve por ningún motivo el uso de
            drogas, pero creemos que cada quien tiene la posibilidad de elegir por si mismo.<br>
            Ninguna droga es 100% segura, lo más seguro siempre es evitar consumirlas, pero si
            decides hacerlo, toma todas las precauciones necesarias, y evítate una mala pasada.</p>
        </div>
        <div class="col-md-3 columna ">
          <i class="fab fa-instagram fa-5x"></i>
          <i class="fab fa-whatsapp fa-5x"></i>
          <i class="fab fa-facebook-f fa-5x"></i>
        </div>

        <div class="col-md-3">
          <h3>Reduciendo Daño SpA   </h3>
          <p>Santiago, Chile  </p>
        </div>

        <div class="col-md-3">
          <h3>Teléfono        </h3>
          <p>+56945953465    </p>
        </div>

        <div class="col-md-3">
          <h3>Email   </h3>
          <p>reduciendodano@gmail.com  </p>
        </div>

        <div class="col-md-3">
          <h3>¿Quieres trabajar con nosotros?</h3>
          <p>Contáctanos!  </p>
        </div>

    </div>

  </div>


</footer>
