
<footer class="page-footer text-center font-small mt-4 wow fadeIn">

  
    <div class="footer-copyright py-3">
      <div class="row">
        <div class="col-md-3 columna">
          <%= image_tag 'logo.png', id: 'logo-footer'%>
        </div>
        <div class="col-md-6 columna">
          <p>Reduciendo Daño NO promueve por ningún motivo el uso de
            drogas, pero creemos que cada quien tiene la posibilidad de elegir por si mismo.<br>
            Ninguna droga es 100% segura, lo más seguro siempre es evitar consumirlas, pero si
            decides hacerlo, toma todas las precauciones necesarias, y evítate una mala pasada.</p>
        </div>
        <div class="col-md-3 columna">
          <%= image_tag 'logo.png', id: 'logo-footer'%>
        </div>

    </div>
  </div>


</footer>
